<h1>Welcome to CollegeApp Go!</h1>
<h3>Ask a question, start a conversation, or chat with a live college counselor!</h2>
<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to post.title, post %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(post.created_at) %>
        <%= post.user.email %>
      </p>
    </div>
  <% end %>
</div>
